<!DOCTYPE html>
<html xmlns:th = "http://thymeleaf.org">
    <head>
        <title> [[${channel.channelName}]] </title>
        <script>
            var person = sessionStorage.getItem("name")
            person = document.getElementById('usersName').innerHTML = name
        </script>
    </head>
    
    <body>
    
        <div class="chatbox">
            <div th:each="chat : ${chats}"> 
                <p> [[${chat.chatMessage}]]</p>
            </div>
        </div >
            
        <div class="textSubmission">
            <label for="textBox"> Message Area: </label> <br>
            <textarea id="textBox" name="textBox" rows="4" cols="50" minlength="1" placeholder="Enter text here..."> </textarea>
        </div>
    </body>
</html>