<!DOCTYPE html>
<html xmlns:th = "http://thymeleaf.org">

	<head> 
		<title>Welcome</title>
	</head>
	
	<body>
        <h2> Join A Channel </h2>
        <p id="usersName"></p>
        
        <div th:each="channel : ${channels}">
            <a th:href="@{/channels/{channelName}(channelName=${channel.channelName})}" > [[${channel.channelName}]]
            </a>
        </div>
        <script>
            var person = sessionStorage.getItem("name")
            
            function nameFunction(prompt_q) {
                var name;
                while (true) {
                    name = (prompt(prompt_q));
                    if (name == null) {
                        name = nameFunction('Enter a valid name');
                        if (name !=='') {
                            return name;
                        }
                    }
                    
                    if (name !=='')
                        return name;
                    
                    
                    alert('Please enter a valid name');
                }
             
            }
            
            var name = nameFunction('What is your name?');
            person = document.getElementById('usersName').innerHTML = name;
           
        </script>
	</body>
</html>